# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# Django migration files
**/migrations/**/__pycache__/
**/migrations/**/*.py[cod]

# Environment
.env
.venv/
venv/
ENV/
env/
*.env

# VSCode / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Test/coverage
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/
